In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
job_posting=pd.read_csv("Uncleaned_DS_jobs.csv",index_col=0)

In [3]:
#Skim through data
job_posting.describe()
job_posting.info()
job_posting.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 672 entries, 0 to 671
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          672 non-null    object
 1   Salary Estimate    672 non-null    object
 2   Job Description    672 non-null    object
 3   Rating             672 non-null    float64
 4   Company Name       672 non-null    object
 5   Location           672 non-null    object
 6   Headquarters       672 non-null    object
 7   Size               672 non-null    object
 8   Founded            672 non-null    int64
 9   Type of ownership  672 non-null    object
 10  Industry           672 non-null    object
 11  Sector             672 non-null    object
 12  Revenue            672 non-null    object
 13  Competitors        672 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 78.8+ KB

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
index,,,,,,,,,,,,,,
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

### Split and transform salary into integer

In [4]:
job_posting['Salary Estimate'].unique()

array(['$137K-$171K (Glassdoor est.)', '$75K-$131K (Glassdoor est.)',
       '$79K-$131K (Glassdoor est.)', '$99K-$132K (Glassdoor est.)',
       '$90K-$109K (Glassdoor est.)', '$101K-$165K (Glassdoor est.)',
       '$56K-$97K (Glassdoor est.)', '$79K-$106K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)', '$90K-$124K (Glassdoor est.)',
       '$91K-$150K (Glassdoor est.)', '$141K-$225K (Glassdoor est.)',
       '$145K-$225K(Employer est.)', '$79K-$147K (Glassdoor est.)',
       '$122K-$146K (Glassdoor est.)', '$112K-$116K (Glassdoor est.)',
       '$110K-$163K (Glassdoor est.)', '$124K-$198K (Glassdoor est.)',
       '$79K-$133K (Glassdoor est.)', '$69K-$116K (Glassdoor est.)',
       '$31K-$56K (Glassdoor est.)', '$95K-$119K (Glassdoor est.)',
       '$212K-$331K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$128K-$201K (Glassdoor est.)', '$138K-$158K (Glassdoor est.)',
       '$80K-$132K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$92K-$155K (Glassdoor est.)', '$105K-$167K (Glassdoor est.)'],
      dtype=object)

In [5]:
job_posting['Salary Estimate'].apply(lambda x: x.split('(')[0]).unique()

array(['$137K-$171K ', '$75K-$131K ', '$79K-$131K ', '$99K-$132K ',
       '$90K-$109K ', '$101K-$165K ', '$56K-$97K ', '$79K-$106K ',
       '$71K-$123K ', '$90K-$124K ', '$91K-$150K ', '$141K-$225K ',
       '$145K-$225K', '$79K-$147K ', '$122K-$146K ', '$112K-$116K ',
       '$110K-$163K ', '$124K-$198K ', '$79K-$133K ', '$69K-$116K ',
       '$31K-$56K ', '$95K-$119K ', '$212K-$331K ', '$66K-$112K ',
       '$128K-$201K ', '$138K-$158K ', '$80K-$132K ', '$87K-$141K ',
       '$92K-$155K ', '$105K-$167K '], dtype=object)

In [6]:
job_posting['Salary Estimate']=job_posting['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [7]:
job_posting['Salary Estimate']=job_posting['Salary Estimate'].apply(lambda x: x.replace('K','').replace('$',''))

In [8]:
job_posting['Minimum salary (in thousand)']=job_posting['Salary Estimate'].apply(lambda x: x.split('-')[0])
job_posting['Maximum salary (in thousand)']=job_posting['Salary Estimate'].apply(lambda x: x.split('-')[1])

In [9]:
job_posting.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Minimum salary (in thousand),Maximum salary (in thousand)
index,,,,,,,,,,,,,,,,
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171

In [10]:
job_posting['Minimum salary (in thousand)']=job_posting['Minimum salary (in thousand)'].apply(int)

In [11]:
job_posting['Maximum salary (in thousand)']=job_posting['Maximum salary (in thousand)'].apply(int)

In [12]:
job_posting['Maximum salary (in thousand)']

index
0      171
1      171
2      171
3      171
4      171
      ...
667    167
668    167
669    167
670    167
671    167
Name: Maximum salary (in thousand), Length: 672, dtype: int64

### Remove number from the company name

In [13]:
job_posting['Company Name']=job_posting['Company Name'].apply(lambda x: x.split('\n')[0])

In [14]:
job_posting['State']=job_posting['Location'].apply(lambda x: x.split(',')[-1])

In [15]:
job_posting.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Minimum salary (in thousand),Maximum salary (in thousand),State
index,,,,,,,,,,,,,,,,,
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,NY
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,VA
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,MA
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,MA
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,NY

### Sorting and Creating new columns

In [16]:
# Create column Average salary
job_posting['Average_salary']=(job_posting['Minimum salary (in thousand)'] + job_posting['Maximum salary (in thousand)'])/2

In [17]:
job_posting.sort_values(by="Rating", ascending=True)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Minimum salary (in thousand),Maximum salary (in thousand),State,Average_salary
index,,,,,,,,,,,,,,,,,,
457,Data Scientist,69-116,Work in a fast growing startup with unlimited ...,-1.0,Stride Search,"San Francisco, CA","Westlake Village, CA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,69,116,CA,92.5
425,Data Scientist,124-198,"Job Description\nSelecting features, building ...",-1.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1,124,198,NY,161.0
351,Data Scientist,122-146,About Our AI/ML Team\n\nOur mission is to buil...,-1.0,Point72 Ventures,"Palo Alto, CA",-1,-1,-1,-1,-1,-1,-1,-1,122,146,CA,134.0
504,Data Scientist,95-119,Job Description\nWorking at Sophinea\n\nSophin...,-1.0,Sophinea,"Chantilly, VA",-1,1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,95,119,VA,107.0
500,Data Scientist,95-119,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,95,119,CA,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Data Scientist - TS/SCI FSP or CI Required,79-106,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,79,106,MD,92.5
405,Senior Machine Learning Engineer,110-163,We are looking for an experienced engineer wit...,5.0,LifeOmic,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,110,163,NC,136.5
113,Data Engineer,99-132,"At Phantom AI, experience the fast paced envir...",5.0,Phantom AI,"Burlingame, CA","Burlingame, CA",1 to 50 employees,2016,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,99,132,CA,115.5
355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,122,146,MD,134.0
118,NGS Scientist,99-132,ArsenalBio’s mission is to develop efficacious...,5.0,Arsenal Biosciences,"South San Francisco, CA","South San Francisco, CA",51 to 200 employees,2019,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,99,132,CA,115.5

In [18]:
job_posting[job_posting['Rating']==-1.0].shape

(50, 18)

In [19]:
# Replace Rating with value -1 with 0
job_posting['Rating']=np.where(job_posting.Rating == -1, 0, job_posting.Rating)

In [20]:
job_posting.sort_values(by='Rating',ascending=True)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Minimum salary (in thousand),Maximum salary (in thousand),State,Average_salary
index,,,,,,,,,,,,,,,,,,
457,Data Scientist,69-116,Work in a fast growing startup with unlimited ...,0.0,Stride Search,"San Francisco, CA","Westlake Village, CA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,69,116,CA,92.5
425,Data Scientist,124-198,"Job Description\nSelecting features, building ...",0.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1,124,198,NY,161.0
351,Data Scientist,122-146,About Our AI/ML Team\n\nOur mission is to buil...,0.0,Point72 Ventures,"Palo Alto, CA",-1,-1,-1,-1,-1,-1,-1,-1,122,146,CA,134.0
504,Data Scientist,95-119,Job Description\nWorking at Sophinea\n\nSophin...,0.0,Sophinea,"Chantilly, VA",-1,1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,95,119,VA,107.0
500,Data Scientist,95-119,Job Overview: The Data Scientist is a key memb...,0.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,95,119,CA,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Data Scientist - TS/SCI FSP or CI Required,79-106,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,79,106,MD,92.5
405,Senior Machine Learning Engineer,110-163,We are looking for an experienced engineer wit...,5.0,LifeOmic,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,110,163,NC,136.5
113,Data Engineer,99-132,"At Phantom AI, experience the fast paced envir...",5.0,Phantom AI,"Burlingame, CA","Burlingame, CA",1 to 50 employees,2016,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,99,132,CA,115.5
355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,122,146,MD,134.0
118,NGS Scientist,99-132,ArsenalBio’s mission is to develop efficacious...,5.0,Arsenal Biosciences,"South San Francisco, CA","South San Francisco, CA",51 to 200 employees,2019,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,99,132,CA,115.5

In [21]:
job_posting['Founded']

index
0      1993
1      1968
2      1981
3      2000
4      1998
       ...
667    1989
668      -1
669      -1
670      -1
671    1976
Name: Founded, Length: 672, dtype: int64

In [22]:
job_posting[job_posting['Founded']==-1].shape

#We use this function to check how many observations have the value specified
#Results returned inform us of how many observations with value -1

(118, 18)

In [23]:
job_posting['Years_in_business']=job_posting['Founded'].apply(lambda x: x if x<1 else 2023-x)

In [24]:
job_posting.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Minimum salary (in thousand),Maximum salary (in thousand),State,Average_salary,Years_in_business
index,,,,,,,,,,,,,,,,,,,
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,NY,154.0,30
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,VA,154.0,55
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,MA,154.0,42
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,MA,154.0,23
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,NY,154.0,25

In [25]:
job_posting.Years_in_business = np.where(job_posting['Years_in_business']==-1,0,job_posting.Years_in_business)

In [26]:
job_posting.tail()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Minimum salary (in thousand),Maximum salary (in thousand),State,Average_salary,Years_in_business
index,,,,,,,,,,,,,,,,,,,
667,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,105,167,NJ,136.0,34
668,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,105,167,CA,136.0,0
669,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1,105,167,CA,136.0,0
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,105,167,CA,136.0,0
671,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,105,167,NY,136.0,47

In [27]:
job_posting['Job Description'][2].split('\n')

['Overview',
 '',
 '',
 'Analysis Group is one of the largest international economics consulting firms, with more than 1,000 professionals across 14 offices in North America, Europe, and Asia. Since 1981, we have provided expertise in economics, finance, health care analytics, and strategy to top law firms, Fortune Global 500 companies, and government agencies worldwide. Our internal experts, together with our network of affiliated experts from academia, industry, and government, offer our clients exceptional breadth and depth of expertise.',
 '',
 'We are currently seeking a Data Scientist to join our team. The ideal candidate should be passionate about working on cutting edge research and analytical services for Fortune 500 companies, global pharma/biotech firms and leaders in industries such as finance, energy and life sciences. The Data Scientist will be a contributing member to client engagements and have the opportunity to work with our network of world-class experts and thought leaders.',
 '',
 'Job Functions and Responsibilities',
 '',
 'The candidate Data Scientist will help develop, maintain and teach new tools and methodologies related to data science and high performance computing. This position will also help Analysis Group in maintaining our leadership position in terms of advancing methodology and data analytics. The Data Scientist will be responsible for staying abreast of new developments in technology relating to data science, to share more broadly with Analysis Group.',
 '',
 'Key responsibilities for this position will include:',
 'Working with project teams to address data science/computing challenges',
 'Identifying opportunities for technology to enhance service offerings',
 'Acting as a resource and participating in client engagements and research as part of the project team',
 'Maintaining up-to-date knowledge of computing tools, providing technical training and helping to grow the in-house knowledge base, specifically in a Linux environment',
 'Presenting research at selected conferences',
 'Examples of activities for the Data Scientist will include:',
 'Developing data engineering and machine learning production systems for full stack data science projects',
 'Using natural language processing methodologies to work with EMR data, social media data and other unstructured data',
 'Optimizing procedures for managing and accessing large databases (e.g., insurance claims, electronic health records, financial transactions)',
 'Creating interactive analytics portals and data visualizations (e.g., using R/Shiny, Python/Flask, D3)',
 'Building and maintaining high performance computing (HPC) tools on grid and cloud computing environments',
 'Developing and reviewing software and packages in R, Python and other Object Oriented Languages',
 'Establishing optimized procedures for repetitive or computationally intensive tasks (C, C++, Cuda-C)',
 'Qualifications',
 'Strong credentials and experience in database management and data visualization',
 'Significant experience working within a Linux environment required',
 'Background in Statistics/Econometrics or Biostatistics',
 'Ideally PhD in Computer Science, Mathematics, Statistics, Economics or other relevant scientific degree with relevant experience. Other candidates with at least one year of experience in the field may also be considered',
 'Excellent written and verbal communication skills',
 'Project experience with R and/or Python',
 'Familiar with online/cloud computing/storage (e.g., AWS)',
 'Demonstrated experience working on project teams and collaborating with others',
 'SCIENTIFIQUE DES DONNÉES',
 '',
 '*L’utilisation du genre masculin sert uniquement à alléger le texte et est utilisé ici en tant que genre neutre',
 '',
 'Survol',
 '',
 'Groupe d’analyse ltée est l’une des plus grandes firmes de services-conseils en économie, comptant plus de 950 professionnels répartis dans 14 bureaux en Amérique du Nord, en Europe et en Asie. Depuis 1981, nous offrons notre expertise en matière de stratégie, d’économie, de finance et d’analyse dans le domaine des soins de santé aux grands cabinets d’avocats, aux sociétés Fortune Global 500 et aux agences gouvernementales du monde entier. Nos professionnels en poste conjugués à notre réseau de spécialistes affiliés issus d’universités, d’industries spécifiques et d’organismes gouvernementaux procurent à notre clientèle un savoir-faire d’une portée et d’une profondeur exceptionnelles.',
 '',
 "Nous sommes présentement à la recherche d'un Scientifique des données (« Data Scientist ») pour se joindre à notre équipe. Le candidat idéal devrait être passionné par la recherche de pointe et les services analytiques pour les entreprises Fortune 500, les entreprises pharmaceutiques et biotechnologiques mondiales et les chefs de file dans des secteurs de la finance, l'énergie et les sciences de la vie. Le Scientifique des données sera un membre contributeur aux mandats des clients et aura l'occasion de travailler avec notre réseau d'experts et de leaders d'opinion de classe mondiale.",
 '',
 'Description du poste et des responsabilités',
 '',
 "Le scientifique des données aidera à développer, maintenir et enseigner de nouveaux outils et méthodologies liés à la science des données (« Data Science ») et au HPC. Ce poste aidera également le Groupe d'analyse à maintenir sa position de chef de file en ce qui a trait à l'avancement de la méthodologie et de l'analyse des données. Le scientifique des données sera chargé de se tenir au courant des nouveaux développements technologiques liés à la science des données, afin de les partager plus largement avec le Groupe d'analyse.",
 '',
 'Les principales responsabilités de ce poste comprendront:',
 '',
 '- Collaborer avec les consultants pour relever les défis de la science des données et de sciences informatiques',
 '',
 "- Agir à titre de ressource et participer aux mandats et à la recherche en tant que membre de l'équipe de projet",
 '',
 '- Maintenir à jour les connaissances sur les outils informatiques, fournir une formation technique et aider à développer la base de connaissances interne, notamment dans un environnement Linux',
 '',
 '- Présenter la recherche à des conférences choisies',
 '',
 'Exemples de tâches du scientifique des données :',
 '',
 '- Développement de systèmes de production en ingénierie des données ainsi qu’en apprentissage machine pour des projets de science des données full stack',
 '',
 "- Utiliser des méthodologies NLP pour travailler avec les données médicales électroniques, les données des médias sociaux et d'autres données non structures",
 '',
 "- Optimiser les procédures de gestion et d'accès aux grandes bases de données (ex. réclamations d'assurance, dossiers de santé électroniques, transactions financières)",
 '',
 "- Création de portails d'analyse interactifs et de visualisations de données (par exemple, en utilisant R/Shiny, Python/Flask, D3)",
 '',
 '- Construire et maintenir des outils de calcul de haute performance (HPC).',
 '',
 '- Développement et révision de codes en R, Python et autres langages',
 '',
 '- Mise en place de procédures optimisées pour les tâches répétitives ou intensives en calcul (C, C++, Cuda-C)',
 '',
 'Qualifications requises',
 '',
 '- Solides références et expérience dans la gestion de bases de données et de la visualisation de données',
 '',
 '- Expérience de travail significative dans un environnement Linux requise',
 '',
 '- Expérience antérieure en statistique/économétrie ou bio-statistique',
 '',
 "- Idéalement, être titulaire d'un doctorat en sciences informatiques, en mathématiques, en statistique, en économie ou d'un autre diplôme scientifique pertinent et posséder une expérience pertinente. Les candidats ayant au moins un an d'expérience dans le domaine peuvent également être considérés.",
 '',
 '- Excellentes aptitudes de communication écrite et verbale',
 '',
 '- Expérience de projet avec R et/ou Python',
 '',
 "- Familiarité avec l'informatique en ligne/info nuagique et le stockage (AWS)",
 '',
 "- Expérience de travail démontrée au sein d'équipes de projet et de collaboration avec d'autres personnes",
 '',
 '\xad',
 'Equal Opportunity Employer/Protected Veterans/Individuals with Disabilities.',
 'Please view Equal Employment Opportunity Posters provided by OFCCP here.',
 "The contractor will not discharge or in any other manner discriminate against employees or applicants because they have inquired about, discussed, or disclosed their own pay or the pay of another employee or applicant. However, employees who have access to the compensation information of other employees or applicants as a part of their essential job functions cannot disclose the pay of other employees or applicants to individuals who do not otherwise have access to compensation information, unless the disclosure is (a) in response to a formal complaint or charge, (b) in furtherance of an investigation, proceeding, hearing, or action, including an investigation conducted by the employer, or (c) consistent with the contractor's legal duty to furnish information. 41 CFR 60-1.35(c)"]

In [28]:
#Count the number of people for each title

job_posting['Job Title'].value_counts()

Data Scientist                                            337
Data Engineer                                              26
Senior Data Scientist                                      19
Machine Learning Engineer                                  16
Data Analyst                                               12
                                                         ...
Data Science Instructor                                     1
Business Data Analyst                                       1
Purification Scientist                                      1
Data Engineer, Enterprise Analytics                         1
AI/ML - Machine Learning Scientist, Siri Understanding      1
Name: Job Title, Length: 172, dtype: int64

In [29]:
job_posting['State'].value_counts()

 CA              165
 VA               89
 MA               62
 NY               52
 MD               40
 IL               30
 DC               26
 TX               17
 WA               16
 OH               14
 PA               12
 MO               12
United States     11
 NJ               10
 CO               10
 GA                9
 NC                9
 TN                8
 FL                8
Remote             6
 OK                6
 WI                6
 IN                5
 MI                5
 AL                4
 CT                4
 MN                4
 AZ                4
 NE                3
 UT                3
 IA                3
 RI                2
New Jersey         2
 SC                2
 OR                2
Utah               2
 NH                2
 MS                1
 LA                1
 KS                1
Texas              1
 DE                1
California         1
 WV                1
Name: State, dtype: int64

In [35]:
job_posting = job_posting[~((job_posting['State']=='Remote') | (job_posting['State']=='Utah') |
                            (job_posting['State']=='New Jersey') | (job_posting['State']=='California') |
                           (job_posting['State']=='Texas'))]

In [36]:
job_posting['State']=job_posting['State'].apply(lambda x: x.replace('United States', 'US'))
job_posting['State'].value_counts()

 CA    165
 VA     89
 MA     62
 NY     52
 MD     40
 IL     30
 DC     26
 TX     17
 WA     16
 OH     14
 MO     12
 PA     12
US      11
 CO     10
 NJ     10
 NC      9
 GA      9
 FL      8
 TN      8
 OK      6
 WI      6
 IN      5
 MI      5
 AZ      4
 AL      4
 MN      4
 CT      4
 UT      3
 NE      3
 IA      3
 OR      2
 SC      2
 RI      2
 NH      2
 LA      1
 MS      1
 KS      1
 DE      1
 WV      1
Name: State, dtype: int64

In [37]:
job_posting.drop(['Founded','Competitors'], axis=1,inplace=True)

In [38]:
job_posting.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Minimum salary (in thousand),Maximum salary (in thousand),State,Average_salary,Years_in_business
index,,,,,,,,,,,,,,,,,
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,NY,154.0,30
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,VA,154.0,55
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,MA,154.0,42
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,MA,154.0,23
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,NY,154.0,25

In [41]:
job_posting = job_posting.apply(lambda x: x.strip if isinstance(x,str) else x)

In [42]:
job_posting.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Minimum salary (in thousand),Maximum salary (in thousand),State,Average_salary,Years_in_business
index,,,,,,,,,,,,,,,,,
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,NY,154.0,30
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,VA,154.0,55
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,MA,154.0,42
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,MA,154.0,23
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,NY,154.0,25

In [43]:
job_posting.to_csv("Cleaned_data.csv")